<div class="container body-content">
    <div>
        <h2>About Express</h2>
        <h3>Message</h3>
    </div>
    <div>
        <div>
            <label>Address:</label>
            <div>
                One Microsoft Way
                <br />
                | Redmond, WA 98052-6399
                <br />
                P: | 425.555.0100
            </div>
        </div>
        <div>
            <div>
                <label>Support:</label>
                <a href="mailto:Support@example.com">Support@example.com</a>
            </div>
            <div>
                <label>Marketing:</label>
                <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </div>
        </div>
    </div>
</div>


